<mat-horizontal-stepper [linear]="true">


  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Información general</ng-template>
      <div class="row">
        <div class="col s6">
          <label for="name">Nombre</label>
          <mat-icon style="float: right;" [matTooltip]="infoNombre" [matTooltipPosition]="position">info</mat-icon>
          <input matInput id="name" formControlName="firstCtrl" required [(ngModel)]="newProject.name" (ngModelChange)="checkGeneralInfo()" >
        </div>
        <div class="col s6">
          <label for="description">Descripcion</label>
          <mat-icon style="float: right;" [matTooltip]="infoDescripcion" [matTooltipPosition]="position">info</mat-icon>
          <input matInput id="description" formControlName="firstCtrl" required [(ngModel)]="newProject.description" (ngModelChange)="checkGeneralInfo()" >
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <button mat-button matStepperNext style="width: 100%" disabled="{{isntGeneralInfo}}">Siguiente <mat-icon>arrow_forward</mat-icon> </button>
        </div>

      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Alcance del proyecto</ng-template>

      <div class="row">
        <div class="col s11">
          <mat-form-field style="width: 100%">
            <mat-select placeholder="Area del proyecto" formControlName="secondCtrl" required [(ngModel)]="newProject.areas_id" (ngModelChange)="checkSigthInfo()" >
              <mat-option *ngFor="let area of totalAreas" [value]="area.id">
                {{ area.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col s1">
          <mat-icon [matTooltip]="infoArea" [matTooltipPosition]="position">info</mat-icon>
        </div>
      </div>

      <div class="row">
        <div class="col s10">

            <label for="deadline">¿Cuál es la fecha límite?</label>
            <input formControlName="secondCtrl" required matInput [matDatepicker]="picker" id="deadline" [(ngModel)]="newProject.deadline" (ngModelChange)="checkSigthInfo()">

        </div>
        <div class="col s1" style="margin-top: 22px">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>
        <div class="col s1" style="margin-top: 28px">
          <mat-icon [matTooltip]="infoFecha" [matTooltipPosition]="position">info</mat-icon>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <button mat-button matStepperPrevious style="width: 100%" > <mat-icon>arrow_back</mat-icon> Volver</button>
        </div>
        <div class="col s6">
          <button mat-button (click)="addProject()" disabled="{{isntSigthInfo}}" style="width: 100%" >Agregar <mat-icon>add</mat-icon> </button>
        </div>


      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
