<mat-horizontal-stepper>

  <mat-step >
      <ng-template matStepLabel>Non Functional Requirement</ng-template>

      <div class="row">
        <div class="col s11">

          <mat-form-field style="width: 100%">
            <mat-select placeholder="Seleccione una categoría de NFR"  >
              <mat-option *ngFor="let category of totalCategories" [value]="category.id" (click)="changeCategory(category)">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col s1" style="margin-top: 28px">
          <mat-icon [matTooltip]="infoCategoria" [matTooltipPosition]="position">info</mat-icon>
        </div>
      </div>


      <div class="row">
        <div class="col s11">

          <mat-form-field style="width: 100%">
            <mat-select placeholder="Seleccione un NFR"  [(ngModel)]="newSoftgoalnfr.nfrs_id" (ngModelChange)="checkGeneralInfo()" >
              <mat-option *ngFor="let nfr of totalNfrs" [value]="nfr.id" (click)="selectedNfr(nfr)" >
                {{ nfr.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col s1" style="margin-top: 28px">
          <mat-icon [matTooltip]="infoNFR" [matTooltipPosition]="position">info</mat-icon>
        </div>
      </div>


      <div class="row">
        <div class="col s12">
          <label for="">Definición:</label>
          <br>
          <p>{{nfrDetail}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <button mat-button matStepperNext style="width: 100%" disabled="{{isntGeneralInfo}}">Siguiente <mat-icon>arrow_forward</mat-icon> </button>
        </div>

      </div>
  </mat-step>

  <mat-step >
      <ng-template matStepLabel>Softgoal solicitante</ng-template>



      <div class="row">
        <div class="col s11">

          <mat-form-field style="width: 100%">
            <mat-select placeholder="Seleccione un Softgoal" [(ngModel)]="newSoftgoalnfr.softgoals_id" (ngModelChange)="checkSigthInfo()" >
              <mat-option *ngFor="let softgoal of totalSoftgoals" [value]="softgoal.id">
                {{ softgoal.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col s1" style="margin-top: 28px">
          <mat-icon [matTooltip]="infoSoft" [matTooltipPosition]="position">info</mat-icon>
        </div>
      </div>


      <div class="row">
        <div class="col s6">
          <button mat-button matStepperPrevious style="width: 100%" > <mat-icon>arrow_back</mat-icon> Volver</button>
        </div>
        <div class="col s6">
          <button mat-button (click)="editSoftgoalnfr()" disabled="{{isntSigthInfo}}" style="width: 100%" >Actualizar <mat-icon>refresh</mat-icon> </button>
        </div>


      </div>
  </mat-step>
</mat-horizontal-stepper>
