<mat-horizontal-stepper >

  <mat-step >
      <ng-template matStepLabel>Información general</ng-template>

      <div class="row">
        <div class="col s6">
          <label for="name">Nombre</label>
          <mat-icon style="float: right;" [matTooltip]="infoNombre" [matTooltipPosition]="position">info</mat-icon>
          <input matInput id="name"  [(ngModel)]="newSoftgoal.name" (ngModelChange)="checkGeneralInfo()" >
        </div>
        <div class="col s6">
          <label for="description">Descripción</label>
          <mat-icon style="float: right;" [matTooltip]="infoDescripcion" [matTooltipPosition]="position">info</mat-icon>
          <input matInput id="description"  [(ngModel)]="newSoftgoal.description" (ngModelChange)="checkGeneralInfo()" >
        </div>
      </div>



      <div class="row">
        <div class="col s12">
          <button mat-button matStepperNext style="width: 100%" disabled="{{isntGeneralInfo}}">Siguiente <mat-icon>arrow_forward</mat-icon> </button>
        </div>

      </div>
  </mat-step>

  <mat-step >
      <ng-template matStepLabel>Detalles del Softgoal</ng-template>

      <div class="row">
        <div class="col s11">

          <mat-form-field style="width: 100%">
            <mat-select placeholder="Goal solicitante" [(ngModel)]="newSoftgoal.goals_id" (ngModelChange)="checkSigthInfo()" >
              <mat-option *ngFor="let goal of totalGoals" [value]="goal.id">
                {{ goal.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col s1" style="margin-top: 28px">
          <mat-icon [matTooltip]="infoGoal" [matTooltipPosition]="position">info</mat-icon>
        </div>
      </div>

      <div class="row">
        <div class="col s11">

          <mat-form-field style="width: 100%">
            <mat-select placeholder="Relevancia del Softgoal" [(ngModel)]="newSoftgoal.relevances_id" (ngModelChange)="checkSigthInfo()" >
              <mat-option *ngFor="let relevance of totalRelevances" [value]="relevance.id">
                {{ relevance.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col s1" style="margin-top: 28px">
          <mat-icon [matTooltip]="infoRelevancia" [matTooltipPosition]="position">info</mat-icon>
        </div>
      </div>



      <div class="row">
        <div class="col s6">
          <button mat-button matStepperPrevious style="width: 100%" > <mat-icon>arrow_back</mat-icon> Volver</button>
        </div>
        <div class="col s6">
          <button mat-button (click)="editSoftgoal()" disabled="{{isntSigthInfo}}" style="width: 100%" >Actualizar <mat-icon>refresh</mat-icon> </button>
        </div>


      </div>
  </mat-step>
</mat-horizontal-stepper>
